<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by Lucille. A web developer trying out new languages and trying to learn new skills.
  </p>
  <br />
</div>


<br class="clear" />
<br />
<br />
<br />
<br />