<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by Lucille Samuel. An aspiring web developer.
  </p>
  <br />
</div>


<br class="clear" />
<br />
<br />
<br />
<br />